@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Niconne&family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: rgb(142, 218, 231);
  text-decoration: unset;
}
ul {
  list-style: none;
  margin-left: 1.5rem;
}
button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

/* General style*/
body {
  font-family: "Roboto", sans-serif;
}
/* Header*/
.header {
  height: 4em;
  justify-content: space-between;
  align-items: center;
  background-color: #e2ecee;
  border-bottom: 1px solid #000000;
  box-shadow: 0 0 4px 0 #000000;
  display: flex;
}
.title {
  color: #0c075c;
  font-family: "Roboto";
  font-weight: 800;
  margin: 0;
  padding: 0 1em;
}
.title:link {
  text-decoration: none;
  cursor: pointer;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.link-toggle {
  color: #0c0c0c;
  margin: 20px auto;
  font-weight: 700;
  font-size: 1.2rem;
  
}
.posted-by {
  font-weight: 700;
  padding-top: 20px;
}
.post-title {
  font-weight: 700;
}
.post-head {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}
.icons {
  font-size: 30px;
  color: #080808;
  margin-right: 0.5rem;  
  justify-content: space-between;
}
.items {
  width: 30%;
  height: 30vh;
  margin: 10px 0;
}
#toast-container {
  top: 30px !important;
 float: left;
  text-align: center;
}
 .form-div {
  max-width: 600px;
  margin: 25vh auto;
}

.card {
  max-width: 600px;
  height: max-content;
  margin: 30px auto;
}
.post-div {
  max-width: 600px;
  margin: 30vh auto;   
}
.linkItems{
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #0c0c0c;
  margin: auto 1em;
}
.linkItems:link {
  text-decoration: none;
}
.linkItems:hover {
  text-decoration: none;
 
}
.profile-outer-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #636e72;
}
.profile-image {
  height: 200px;
  width: 200px; 
  border-radius: 50%;  
}
.container {
  margin: 0;
  padding: 0;
}
.register {
  font-family: "Roboto";
  margin: 30px auto;
  text-align: center;
}
.app-container {
  width: 80%;
  margin: 10vh auto;
}
.input {
  display: block;
  width: 100%;
  margin: auto;
  background-color: rgb(247, 250, 245);
}
.error-alert {
  border: 1px solid rgb(235, 11, 11);
  background-color: rgb(238, 192, 192);
  color: red;
  padding: 0.4rem;
  display: flex;
  border-radius: 6px;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.error-alert button {
  font-size: 1rem;
  font-weight: 700;
  color: red;
  margin: 0 0.4rem;
}

#btn {
  width: 100%;
  background-color:#27ae60;
  margin: 0.6rem auto;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  font-weight: 700;
}
#btn:hover {
  background-color: #b8e994;
  color: green;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .header .title {
    font-size: 1.1rem;
  }
  .header .auth-buttons button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
   .form {
    align-items: center;
    width: 100%;
    margin: 25vh auto;
    justify-content: center;
  }
  .linkItems{
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 700;
  color: #0c0c0c;
  margin: auto 0.8em;
}
.profile-outer-div { 
  width: 100%;
  display: block;
  align-items: center;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #636e72;
}

.profile-image {
  height: 200px;
  width: 200px; 
  border-radius: 50%;
  margin: 0px 20% !important;   
}
.profile-name {
  text-align: center;
}
.app-container {
  width: 90%;
}
.items {
  width: 80%; 
  margin: 20px auto;
}
}
